[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d/
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
